<% if user_signed_in? %>
  <aside class="sidebar">
  <%= search_form_for @q do |f| %>

  <div class="form-group">
    <h2>■イベントの検索</h2>
    <%= f.label :name_cont, 'イベント名' %>
    <%= f.text_field :name_cont, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :place_cont, '場所' %>
    <%= f.text_field :place_cont, class: 'form-control' %>
  </div>

  <div class ="form-group">
  <%= f.label :start_time_gteq, '開催日' %>
  
  <div>
  <%= f.date_select :start_time_gteq, prompt:true %>
  </div>
  
  </div>
  
  <%= f.submit '検索', class: 'byn btn-default' %>
  <% end %>

  </aside>

  <ul class="notes">
   <h2>イベント一覧</h2>
   <%= render @events %>
   <%= paginate @events %> 
  </ul>

  <% else %>
  <div class="top-wrapper">
    <%= image_tag "gatebook_cover.png" %>
    <div class="register-wrapper">
      <h1><%= @message %></h1>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-large register-btn" %>
    </div>
  </div>
<% end %>